<html>
<head>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/peak.css') }}">

    <style>
        body {
            font-family: 'Peak';
        }

        .title {
            text-align: center;
            margin-top: 2em;
        }

        .explainer {

            text-align: justify;
            border-with: 1px;
        }

        .explainer h3 {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="title">
            <h2>Third Space: Space For All</h2>
        </div>

        <div class="explainer">
            <h3>What is a Third Space?</h3>
            <p>For many people, the First Place is the home. The Second Place might be the office or school. The Third Place is the place in-between. The church, the barber shop, the library, the local cafe are familiar examples of such places.</p>

            <div>
                <h3>Who are we?</h3>
                <p>
                We are citizens concerned with the unavailability of Third Spaces that fit the description above: local, cheap or free, highly-available, and inclusive.
                </p>

                <p>
                We believe that the Third Space is not only for urban, well-resourced people, but also for the suburbs and rural areas, for uncool and awkward, for young and old -- for all.
                </p>
            </div>

            <div>
                <h3>What are we doing?</h3>
                <p>
                    Our idea, originally conceived at the 2015 <a href="http://www.codeforamerica.org/events/codeacross-2015/">CodeAcross</a> event, is to provide a platform for communities, civic groups, governments, and landlords to collaborate in establishing Third Spaces in communities where there is both a need and a desire. We connect those with the vision and the leadership ability with those who can make their vision a reality.
                </p>
            </div>

            <div>
                <h3>How can you help?</h3>
                <p>
                    Currently, we are working on three main projects:
                    <ul>
                        <li>Developing a business and operations plan for Third Space. We are researching similar projects and groups to see what does and doesn't work.</li>
                        <li>Considering ideas for what kind of technological platform would serve the goals of our mission.</li>
                        <li>Identifying groups interested in establishing Third Spaces, potential sites for Third Spaces, and legal and real estate professionals who can navigate the complexities leasing and developing Third Spaces.</li>
                    </ul>
                </p>

                <p>
                    If you live in or near Sacramento, please join us on Second Saturdays at the Urban Hive. If you have any questions, please feel free to <a href="#">contact us</a>.
                </p>
            </div>
        </div>

        <div>
            <h3>Where is your space?</h3>

            <p>Click <a href={{url_for('findaspace')}}>here</a> to find a space you can call your own.</p>
        </div>

    </div>
</body>
</html>